<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapplicationdev.android.fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Questions.AdvancedQuestionsActivity"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Questions.IntermediateQuestionsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PositivelyQuitedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionWrongActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionCorrectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NegativelyQuitedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NegativeResultActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionsAnswerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Questions.EasyQuestionsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RevisionSectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HowToPlayActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StartQuizActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LeaderboardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdvancedModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IntermediateModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EasyModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DifficultySectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>