<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplicationdev.android.fyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP">
        <activity android:name=".Answered_Incorrectly"></activity>
        <activity android:name=".Questions_answer" />
        <activity
            android:name=".Questions"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsPage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RevisionSection"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HowToPlay"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Start_Quiz"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Leaderboard"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Advance_Mode"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Intermediate_Mode"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Easy_Mode"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Difficulty_Section"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>